{
  "presets": [
    [
      "env", 
      {
        "targets": {
          "browsers": ["last 2 versions", "ie >= 11"],
          "node": "current"
        }
      },
    ],
    "react",
    "stage-3"
  ]
}
